*{
  padding: 0;
  margin: 0;
}

/* header */

.header-container{
  display: flex;
  justify-content: space-between;
  margin: 8px 4px 32px;
}

.header-right{
  display: flex;
  align-items: center;
}

.header-input input{
  border: none;
  padding: 4px 16px;
}

.header-input{
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.span-count{
  position: absolute;
  z-index: 2;
  right: 24px;
  top: 18px;
  ;
}

.header-container button {
  padding: 6px 24px;
  background-color: aqua;
  border: none;
  border-radius: 4px;
}

input:focus-visible{
 outline: none;
}

/* icon */

.icon-shopping{
  color: red;
  font-size: xx-large;
  padding: 0px 8px;
  line-height: 42.4px;
  position: relative;
}
.icon-input{
  padding-left: 8px;
  font-size: 14px;
}

/* Component:Item */
.item-container{
  text-align: center;
  width: auto;
  height: 280px;
  background-color:whitesmoke;
}

.item-container img{
  width: 100%;
  height: 60%;
}

.item-container input{
  width: 24px;
}

.item-name{
  font-size: 20px;
  margin-top: 4px;
}

.item-price{
  font-size: 14px;
  opacity: 0.6;
  margin: 4px 0px;
}

.item-input{
  text-align: center;
}

.buttonCongTru{
  padding: 0px 4px;
}

.buttonThem{
  border: none;
  background-color: whitesmoke;
  padding-left: 8px;
}
/* Component:Body */

.body{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 10px 160px;
}